<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

{# <footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"
                ><img
                    loading="lazy"
                    decoding="async"
                    src="/assets/svgs/logo-white.svg"
                    alt="logo"
                    width="264"
                    height="78"
            /></a>
            <p>
                Extra content if you need it, if not you can delete this whole p
                tag. I usually do.
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About Us</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/reviews">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Service1</li>
                    <li>Service2</li>
                    <li>Service4</li>
                    <li>Service5</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            {{ client.address.lineOne }}<br />
                            {{ client.address.lineTwo }}<br />
                            {{ client.address.city }}
                            {{ client.address.state }}
                            {{ client.address.zip }}
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{ client.phoneForTel }}">
                            T: {{ client.phoneFormatted }}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{ client.email }}">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="/" target="_blank" rel="noopener">Your Company Name</a>
        <span class="copyright"> Copyright {% year %} - Present</span>
    </div>
</footer> #}

<footer id="footer" class="section-footer">
    <div class="w-layout-blockcontainer container w-container">
        <div class="footer-component">
            <div
                data-w-id="163cf990-2751-1343-6d33-e530da32dc3d"
                class="footer-heading"
            >
                <img
                    src="/assets/svgs/logo-white.svg"
                    loading="lazy"
                    decoding="async"
                    alt="logo"
                />
            </div>
            <div class="footer-links-component">
                <div
                    data-w-id="163cf990-2751-1343-6d33-e530da32dc40"
                    class="footer-social-wrapper"
                >
                    <a
                        href="https://webflow.com/templates/designers/lucas-gusso"
                        class="footer-social w-inline-block"
                        ><img
                            src="images/Vector.svg"
                            loading="lazy"
                            alt="Logo"
                            class="icon-links"
                    /></a>
                    <a
                        href="https://webflow.com/templates/designers/lucas-gusso"
                        class="footer-social w-inline-block"
                        ><img
                            src="images/Vector-1.svg"
                            loading="lazy"
                            alt="Logo"
                            class="icon-links"
                    /></a>
                    <a
                        href="https://webflow.com/templates/designers/lucas-gusso"
                        class="footer-social w-inline-block"
                        ><img
                            src="images/logo-instagram-1.svg"
                            loading="lazy"
                            alt="Logo"
                            class="icon-links"
                    /></a>
                    <a
                        href="https://webflow.com/templates/designers/lucas-gusso"
                        class="footer-social w-inline-block"
                        ><img
                            src="images/logo-github-1.svg"
                            loading="lazy"
                            alt="Logo"
                            class="icon-links"
                    /></a>
                </div>
                <div
                    data-w-id="163cf990-2751-1343-6d33-e530da32dc49"
                    class="footer-links-wrapper"
                >
                    <div class="footer-links">
                        <a href="style-guide.html" class="footer-link"
                            >Style Guide</a
                        >
                        <div class="vertical-line"></div>
                        <a
                            href="https://templatestudio.webflow.io/"
                            class="footer-link"
                            >Customize</a
                        >
                    </div>
                    <div class="credits-wrapper">
                        <p>Copyright ©</p>
                        <a
                            href="https://webflow.com/templates/designers/lucas-gusso"
                            target="_blank"
                            class="credits w-inline-block"
                        >
                            <p>
                                Design &amp; Developed by
                                <span class="font-color">Lucas Gusso</span>
                            </p>
                        </a>
                        <a
                            href="https://webflow.com/"
                            target="_blank"
                            class="credits w-inline-block"
                        >
                            <p>
                                Powered by
                                <span class="font-color">Webflow</span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
