<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img
                src="/assets/images/logo-xow.webp"
                loading="lazy"
                decoding="async"
                alt="logo"
            />
        </div>
        <div class="footer-socials">
            <a class="footer-socials-link">
                <img
                    src="/assets/svgs/logo-facebook.svg"
                    loading="lazy"
                    alt="Logo Facebook"
                />
            </a>
            <a class="footer-socials-link">
                <img
                    src="/assets/svgs/logo-instagram.svg"
                    loading="lazy"
                    alt="Logo Instagram"
                />
            </a>
            <a class="footer-socials-link">
                <img
                    src="/assets/svgs/logo-tiktok.svg"
                    loading="lazy"
                    alt="Logo Tiktok"
                />
            </a>
            <a class="footer-socials-link">
                <img
                    src="/assets/svgs/logo-youtube.svg"
                    loading="lazy"
                    alt="Logo YouTube"
                />
            </a>
        </div>
        <div class="copyright">
            <p>
                <span class="copyright-logo">©</span> Copyright {% year %}
                <span class="copyright-credit-name">XOW</span>
            </p>
            <p>
                Design by
                <span class="copyright-credit-name">Lucas Gusso</span>
            </p>
            <p>
                Website by
                <span class="copyright-credit-name">Quentin Falzon</span>
            </p>
        </div>
    </div>
</footer>
