{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/portfolio.css" />

    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Article",
            {% if title %}"headline": "{{ title }}",{% endif %}
            {% if image %}
                "image": ["{{ image }}"],
            {% endif %}
            {% if date %}"datePublished": "{{ date | postDate }}",{% endif %}
            {% if client.name %}
                "publisher": {
                    "@type": "Organization",
                    "name": "{{ client.name }}"
                },
            {% endif %}
            {% if author %}
                "author": [
                    {
                        "@type": "Person",
                        "name": "{{ author }}"
                    }
                ],
            {% endif %}
            {% if description %}"articleBody": "{{ description | safe }}",{% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if tags %}"articleSection": "{{ tags }}"{% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->

    <!-- My scripts -->
    <script defer type="module" src="/assets/js/project.js"></script>
{% endblock %}

<!-- Tags listed here are system-generated which we do not -->
<!--wish to display on-screen or filter by -->
{% set excludedTags = ["project", "sitemap"] %}

{% block body %}
    <!-- ============================================== -->
    <!--      Landing (Project Date + Title + Tags)     -->
    <!-- ============================================== -->
    <section id="hero-section-works" class="hero-section-works">
        <div class="w-layout-blockcontainer container w-container">
            <div class="hero-header">
                <!-- Date Published -->
                <div class="tag-wrapper">
                    <p class="text-weight-medium caps">{{ date | postDate }}</p>
                </div>

                <!-- Project Title -->
                <div class="heading">
                    <h1 class="heading-1">{{ title }}</h1>
                </div>

                <!-- Project Tags -->
                <div class="tag-wrapper flex-wrap">
                    {%- for tag in tags -%}
                        {%- if tag not in excludedTags -%}
                            <div class="project-tag">
                                <div class="elipse"></div>
                                <p class="text-weight-regular">{{ tag }}</p>
                            </div>
                        {%- endif -%}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--               Project Hero Image             -->
    <!-- ============================================ -->
    <section id="project-hero-image">
        <div
            class="w-layout-blockcontainer container container-large w-container"
        >
            <div
                data-w-id="babe0d67-8e76-80ee-1865-39d909ece219"
                class="blog-image-wrapper"
            >
                <img
                    {# style="-webkit-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1.2, 1.2, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" #}
                    alt="{{ heroImageAlt }}"
                    src="{{ heroImage }}"
                    loading="lazy"
                    {# class="image w-dyn-bind-empty" #}
                    class="image"
                />
                <div class="mask-frame"></div>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Project Content               -->
    <!-- ============================================ -->
    <section id="content-section" class="content-section">
        <div
            class="w-layout-blockcontainer container container-small w-container"
        >
            {% if supportingText1 %}
                <!-- Supporting Text 1 -->
                <div class="work-content-cms">
                    <div
                        {# Omitted styles for class "w-richtext" #}
                        class="rich-text rich-text-size w-richtext"
                    >
                        {{ supportingText1 }}
                    </div>
                </div>
            {% endif %}

            {% if supportingImage1 %}
                <!-- Supporting Image 1 (landscape, full-width) -->
                <div class="work-template-images">
                    <img
                        alt="{{ supportingImage1Alt }}"
                        loading="lazy"
                        src="{{ supportingImage1 }}"
                        class="image"
                    />
                    <div class="mask-frame"></div>
                </div>
            {% endif %}

            {% if supportingText2 %}
                <!-- Supporting Text 2 -->
                <div class="work-content-cms">
                    <div
                        {# Omitted styles for class "w-richtext" #}
                        class="rich-text rich-text-size w-richtext"
                    >
                        {{ supportingText2 }}
                    </div>
                </div>
            {% endif %}

            {% if supportingImage2 %}
                <!-- Supporting Image 2 (landscape, full-width) -->
                <div class="work-template-images margin-bottom">
                    <img
                        alt="{{ supportingImage2Alt }}"
                        loading="lazy"
                        src="{{ supportingImage2 }}"
                        {# class="image w-dyn-bind-empty" #}
                        class="image"
                    />
                    <div class="mask-frame"></div>
                </div>
            {% endif %}

            {% if supportingText3 %}
                <!-- Supporting Text 3 -->
                <div class="work-content-cms">
                    <div class="rich-text rich-text-size w-richtext">
                        {{ supportingText3 }}
                    </div>
                </div>
            {% endif %}

            {% if supportingImage3 %}
                <!-- Supporting Image 3 (landscape, full-width) -->
                <div class="work-template-images margin-bottom">
                    <img
                        alt="{{ supportingImage3Alt }}"
                        loading="lazy"
                        src="{{ supportingImage3 }}"
                        {# class="image w-dyn-bind-empty" #}
                        class="image"
                    />
                    <div class="mask-frame"></div>
                </div>
            {% endif %}

            {% if supportingText4 %}
                <!-- Supporting Text 4 -->
                <div class="work-content-cms">
                    <div class="rich-text rich-text-size w-richtext">
                        {{ supportingText4 }}
                    </div>
                </div>
            {% endif %}

            {% if supportingImage4 %}
                <!-- Supporting Image 4 (portrait, left-aligned) -->
                <div class="work-template-images vertical">
                    <img
                        alt="{{ supportingImage4Alt }}"
                        loading="lazy"
                        src="{{ supportingImage4 }}"
                        {# class="image w-dyn-bind-empty" #}
                        class="image"
                    />
                    <div class="mask-frame"></div>
                </div>
            {% endif %}

            {% if supportingText5 %}
                <!-- Supporting Text 5 -->
                <div class="work-content-cms">
                    <div class="rich-text rich-text-size w-richtext">
                        {{ supportingText5 }}
                    </div>
                </div>
            {% endif %}

            {% if supportingImage5 %}
                <!-- Supporting Image 5 (portrait, right-aligned) -->
                <div class="work-template-images vertical right">
                    <img
                        alt="{{ supportingImage5Alt }}"
                        loading="lazy"
                        src="{{ supportingImage5 }}"
                        {# class="image w-dyn-bind-empty" #}
                        class="image"
                    />
                    <div class="mask-frame"></div>
                </div>
            {% endif %}

            {% if supportingText6 %}
                <!-- Supporting Text 6 -->
                <div class="work-content-cms">
                    <div class="rich-text rich-text-size w-richtext">
                        {{ supportingText6 }}
                    </div>
                </div>
            {% endif %}

            {% if supportingImage6 %}
                <!-- Supporting Image 6 (landscape, full-width) -->
                <div class="work-template-images no-margin">
                    <img
                        alt="{{ supportingImage6Alt }}"
                        loading="lazy"
                        src="{{ supportingImage6 }}"
                        {# class="image w-dyn-bind-empty" #}
                        class="image"
                    />
                    <div class="mask-frame"></div>
                </div>
            {% endif %}
        </div>
    </section>

    {# Codestitch default html below #}
    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->
    {# <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                  Blog Article                -->
            <!-- ============================================ -->

            <article class="blog-article">
                <!--Main Article Image-->
                <picture class="blog-mainImage">
                    <img
                        src="{{ image }}"
                        alt="{{ imageAlt }}"
                        width="795"
                        height="400"
                        decoding="async"
                    />
                </picture>

                <!--Article Info-->
                <div class="article-group">
                    <h1 class="blog-h1">{{ title }}</h1>
                    <div class="blog-authorGroup">
                        <!--Author Image-->
                        <picture class="blog-author-img">
                            <img
                                src="/assets/svgs/profile.svg"
                                alt="house"
                                width="32"
                                height="32"
                                decoding="async"
                            />
                        </picture>
                        <span class="blog-author">{{ author }}</span>
                        <span aria-hidden="true" class="blog-dot"></span>
                        <!--Blog Date-->
                        <span class="blog-date">{{ date | postDate }}</span>
                    </div>
                </div>
                <section id="blog-content">{{ content | safe }}</section>
            </article>
        </div>
        <!-- End .main-content -->

        {% include 'components/featured-post.html' %}
    </div> #}
{% endblock %}
