---
title: "Contact | XOW | Graphic Design & Animation"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "contact/"
eleventyNavigation:
    key: Contact Us
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css" />
    <script defer type="module" src="/assets/js/contact.js"></script>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--              CONTACT HERO & FORM             -->
    <!-- ============================================ -->
    <section id="hero-form" class="hero-form">
        <div class="w-layout-blockcontainer container w-container">
            <div class="hero-header">
                <div class="tag-wrapper">
                    <div class="elipse hide-mobile"></div>
                    <div class="tag">
                        <p class="text-weight-medium caps">
                            AVAILABLE FOR WORK
                        </p>
                    </div>
                    <div class="elipse hide-mobile"></div>
                </div>
                <div class="heading smaller">
                    <h1 class="heading-1">Let’s bring your vision to life</h1>
                </div>
            </div>
            <div class="form-component">
                <div
                    data-w-id="a51d9b64-bbeb-b439-510d-97f8f4a7d334"
                    {# style="opacity:0" #}
                    class="form-wrapper full-width w-form"
                >
                    <form
                        id="email-form"
                        name="email-form"
                        data-name="Email Form"
                        method="POST"
                        class="form"
                        data-wf-page-id="67c81996b549f268672a1059"
                        data-wf-element-id="a51d9b64-bbeb-b439-510d-97f8f4a7d335"
                        netlify
                    >
                        <div class="form-content">
                            <div class="name-wrapper-contact">
                                <label for="name" class="text-size-medium-vw"
                                    >Name</label
                                ><input
                                    class="text-field-contact w-input"
                                    maxlength="256"
                                    name="name"
                                    data-name="Name"
                                    placeholder="Enter your name"
                                    type="text"
                                    id="name"
                                    required=""
                                />
                            </div>
                            <div class="name-wrapper-contact">
                                <label
                                    for="Enter-your-e-mail"
                                    class="text-size-medium-vw"
                                    >E-mail</label
                                ><input
                                    class="text-field-contact w-input"
                                    maxlength="256"
                                    name="e-mail"
                                    data-name="E-mail"
                                    placeholder="Enter your e-mail"
                                    type="email"
                                    id="Enter-your-e-mail"
                                    required=""
                                />
                            </div>
                            <label for="field" class="text-size-medium-vw"
                                >Message</label
                            ><textarea
                                id="message"
                                name="message"
                                maxlength="5000"
                                data-name="Message"
                                placeholder="Your message..."
                                class="text-field-contact w-input"
                            ></textarea>
                        </div>
                        <div class="contact-button align-center">
                            <div href="#" class="button-primary">
                                <input
                                    type="submit"
                                    data-wait="Please wait..."
                                    class="submit-button w-button"
                                    value="Submit"
                                />
                                <div class="text-weight-medium caps">
                                    submit
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="success-message w-form-done">
                        <div class="text-size-contact">
                            Thank you! Your submission has been received!
                        </div>
                    </div>
                    <div class="error-message w-form-fail">
                        <div class="text-size-medium-contact">
                            Oops! Something went wrong while submitting the
                            form.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Codestitch HTML below -->
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    {# <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source
                media="(max-width: 600px)"
                srcset="/assets/images/cabinets2-m.jpg"
            />
            <source
                media="(min-width: 601px)"
                srcset="/assets/images/cabinets2.jpg"
            />
            <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/cabinets2.jpg"
                alt="kitchen cabinets"
                loading="eager"
                width="2500"
                height="1667"
            />
        </picture>
    </section> #}

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    {# <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" method="post">
                <div class="cs-content">
                    <span class="cs-topper">Contact</span>
                    <h2 class="cs-title">Get in Touch</h2>
                    <p class="cs-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Ridiculus elementum ullamcorper ipsum porttitor aliquam.
                        Id magna urna ultrices odio pulvinar. Sed ut.
                    </p>
                </div>
                <label>
                    Name
                    <input
                        required
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Name"
                    />
                </label>
                <label>
                    Email
                    <input
                        required
                        type="text"
                        id="email"
                        name="email"
                        placeholder="Email"
                    />
                </label>
                <label>
                    Phone
                    <input
                        required
                        type="text"
                        id="phone"
                        name="phone"
                        placeholder="Phone"
                    />
                </label>
                <label>
                    How Did You Find Us
                    <input
                        type="text"
                        id="find"
                        name="find-us"
                        placeholder="How did you find us?"
                    />
                </label>
                <label class="cs-label-message">
                    Message
                    <textarea
                        required
                        name="Message"
                        id="message"
                        placeholder="Write message..."
                    ></textarea>
                </label>
                <button class="cs-button-solid" type="submit">
                    Submit Message
                </button>
            </form>
            <div class="cs-right-section">
                <!--Email-->
                <span class="cs-header">Email</span>
                <a class="cs-link" href="mailto:{{ client.email }}"
                    >{{ client.email }}</a
                >
                <!--Phone-->
                <span class="cs-header">Phone</span>
                <a class="cs-link" href="tel:{{ client.phoneForTel }}"
                    >{{ client.phoneFormatted }}</a
                >
                <!--Address-->
                <span class="cs-header">Address</span>
                <a class="cs-link" href="{{ client.address.mapLink }}">
                    {{ client.address.lineOne }},
                    <br />
                    {{ client.address.lineTwo }},
                    <br />
                    <span class="cs-block">
                        {{ client.address.city }}
                        {{ client.address.state }}
                        {{ client.address.zip }}
                    </span>
                </a>

                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source
                        media="(min-width: 601px)"
                        srcset="/assets/images/skyscraper.jpg"
                    />
                    <img
                        aria-hidden="true"
                        decoding="async"
                        src="/assets/images/skyscraper.jpg"
                        alt="building"
                        loading="lazy"
                        width="2500"
                        height="1667"
                    />
                </picture>
            </div>
        </div>
    </section> #}
{% endblock %}
