---
title: 'Shop | XOW | Graphic Design & Animation'
description: 'Description for <meta> description and OG tags'
preloadImg: '/assets/images/imagename.format'
permalink: 'shop/'
eleventyNavigation:
    key: Shop
    order: 400
    hideOnMobile: false
    hideOnDesktop: false
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Any page-specific tags that belong in the <head>, such as a page-specific stylesheet -->
{% endblock %}

{% block body %}
    <!-- Page HTML goes here, without a <main> wrapper. The <main> tag is already presented in layouts/base.html -->
{% endblock %}