/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---      Brand Statements      -->
<--- -------------------------- -*/
#brand-statements .section {
  margin-top: 12rem;
}
#brand-statements .w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#brand-statements .container {
  width: 100%;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
#brand-statements .w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
#brand-statements .w-container:before, #brand-statements .w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
#brand-statements .w-container:after {
  clear: both;
}
#brand-statements .w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}
#brand-statements .text-images-wrapper {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0;
  display: flex;
}
#brand-statements .text-images {
  max-width: 112ch;
}
#brand-statements .heading-2 {
  font-size: var(--heading--h2);
  font-weight: 500;
  line-height: 1;
}
#brand-statements .text-weight-regular {
  font-weight: 400;
}
#brand-statements .span {
  text-align: left;
  white-space: nowrap;
  vertical-align: bottom;
  object-fit: cover;
  background-image: url("../images/Placeholder.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 3.75rem 3.75rem;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 4.75rem;
  width: 6.5rem;
  height: 4rem;
  font-size: 0.875rem;
  line-height: 7.5;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
#brand-statements .span.three {
  pointer-events: none;
  cursor: default;
  background-image: url("../images/Text-Images-03.jpg");
  background-size: cover;
  border-radius: 5rem;
}
#brand-statements .span.one {
  pointer-events: none;
  white-space: nowrap;
  cursor: default;
  background-image: url("../images/Text-Images-01.jpg");
  background-position: 50%;
  background-size: cover;
  border-radius: 5rem;
}
#brand-statements .span.two {
  pointer-events: none;
  cursor: default;
  background-image: url("../images/Text-Images-02.jpg");
  background-size: cover;
  border-radius: 5rem;
}
#brand-statements .big-numbers-wrapper {
  grid-column-gap: 10.5rem;
  grid-row-gap: 10.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  place-items: center;
  display: flex;
}
#brand-statements .big-numbers-card {
  grid-column-gap: 0.3125rem;
  grid-row-gap: 0.3125rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}
#brand-statements .big-numbers {
  font-size: 5.3vw;
  font-weight: 400;
  line-height: 1;
}
#brand-statements .text-size-medium {
  font-size: var(--text-size--medium);
  line-height: 1.1;
}
#brand-statements .grid {
  grid-column-gap: 2rem;
  grid-row-gap: 5.875rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  place-items: center;
  display: grid;
}
#brand-statements .card {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  background-color: var(--color--card);
  text-align: left;
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
  padding: 4rem 3.5rem 4.3rem;
  display: flex;
}
#brand-statements .top-content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-flow: column;
  align-items: flex-start;
  max-width: 29ch;
  display: flex;
}
#brand-statements .text-weight-medium {
  font-weight: 500;
}
#brand-statements .number {
  opacity: 0.2;
}
#brand-statements .big-text {
  font-size: 10.5rem;
  line-height: 1;
}
#brand-statements .button-primary {
  grid-row-gap: 0.25rem;
  background-color: var(--color--button);
  color: var(--color--background);
  font-size: var(--text-size--medium);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0.2rem;
  flex-direction: column;
  padding: 0.8rem 2.5rem;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  display: flex;
  position: relative;
  overflow: hidden;
}
#brand-statements .button-primary:hover {
  background-color: var(--color--primary);
}
#brand-statements .w-inline-block {
  max-width: 100%;
  display: inline-block;
}
#brand-statements #w-node-a0214055-a5b9-6870-0c35-2638d43cc460-672a1055 {
  grid-area: 2/2/3/3;
}

/* Screens up to 991px */
@media screen and (max-width: 991px) {
  #brand-statements .section {
    margin-top: 8rem;
  }
  #brand-statements .w-layout-blockcontainer {
    max-width: 728px;
  }
  #brand-statements .container {
    width: auto;
    max-width: 110rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #brand-statements .text-images-wrapper {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
  }
  #brand-statements .text-images {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
  #brand-statements .heading-2 {
    font-size: 2.5rem;
  }
  #brand-statements .span {
    border-radius: 1rem;
    width: 3rem;
    height: 3rem;
    line-height: 6;
  }
  #brand-statements .span.three,
  #brand-statements .span.one,
  #brand-statements .span.two {
    width: 4rem;
  }
  #brand-statements .big-numbers-wrapper {
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-around;
    place-items: center;
    width: 100%;
    display: flex;
  }
  #brand-statements .big-numbers-card {
    text-align: center;
    justify-content: flex-start;
    align-items: center;
  }
  #brand-statements .big-numbers {
    font-size: 7rem;
  }
  #brand-statements .text-size-medium {
    font-size: 1.125rem;
  }
  #brand-statements .grid {
    grid-row-gap: 2rem;
    flex-flow: column;
    width: 100%;
    display: flex;
  }
  #brand-statements .card {
    flex-flow: row;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #brand-statements .top-content {
    max-width: none;
  }
  #brand-statements #w-node-_1af93a0f-02ae-0fb1-39b8-a79c00b212e1-672a1055 {
    grid-area: 2/1/3/2;
  }
  #brand-statements #w-node-_1af93a0f-02ae-0fb1-39b8-a79c00b212e6-672a1055 {
    grid-area: 2/2/3/3;
  }
  #brand-statements #w-node-_1af93a0f-02ae-0fb1-39b8-a79c00b212eb-672a1055 {
    grid-area: 3/1/3/2;
  }
}
/* Screens up to 767px */
@media screen and (max-width: 767px) {
  #brand-statements .section {
    margin-top: 4rem;
  }
  #brand-statements .w-layout-blockcontainer {
    max-width: none;
  }
  #brand-statements .text-images-wrapper {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }
  #brand-statements .heading-2 {
    font-size: 2.375rem;
  }
  #brand-statements .span {
    background-size: 2.5rem 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
  }
  #brand-statements .big-numbers-wrapper {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    flex-flow: column;
    display: flex;
  }
  #brand-statements .big-numbers-card {
    text-align: center;
    max-width: none;
  }
  #brand-statements .big-numbers {
    font-size: 6rem;
  }
  #brand-statements .card {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    flex-flow: column;
  }
  #brand-statements .big-text {
    font-size: 9rem;
  }
}
/* Screens up to 479px */
@media screen and (max-width: 479px) {
  #brand-statements .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #brand-statements .heading-2 {
    font-size: 2.25rem;
  }
  #brand-statements .big-numbers {
    font-size: 5rem;
  }
  #brand-statements .big-text {
    font-size: 8rem;
  }
  #brand-statements .button-primary {
    align-items: center;
    width: 100%;
  }
}
/*-- -------------------------- -->
<---     Featured Projects      -->
<--- -------------------------- -*/

/*# sourceMappingURL=local.css.map */
