/* PAGE-SPECIFIC STYLES FOR THE PORTFOLIO PAGE */
/*-- -------------------------- -->
<---     Portfolio Projects     --> 
<--- -------------------------- -*/
@keyframes fade-in-slide-up-80px {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#projects .w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#projects .w-inline-block {
  max-width: 100%;
  display: inline-block;
}
#projects .w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
#projects .w-container:before, #projects .w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
#projects .w-container:after {
  clear: both;
}
#projects .w-dyn-bind-empty {
  display: none !important;
}
#projects .container {
  width: 100%;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
#projects .works-wrapper {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
  flex-flow: column;
  align-items: center;
  display: flex;
}
#projects .collection-list-wrapper {
  width: 100%;
}
#projects .collection-list {
  grid-column-gap: 2rem;
  grid-row-gap: 2.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
#projects .works-card {
  background-color: var(--color--card);
  border-radius: 0.5rem;
  overflow: hidden;
}
#projects .works-card:hover .works-hover-follow {
  opacity: 1;
}
#projects .works-link {
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  min-height: 55vh;
  display: flex;
}
#projects .works-image {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
#projects .works-image {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
#projects .image {
  width: 100%;
  height: 100%;
}
#projects .works-hover-follow {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 10rem;
  display: flex;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  box-shadow: 0px 0px 80px rgb(255, 255, 255);
  transition: cubic-bezier(0.25, 1, 0.5, 1) 1s;
}
#projects .text-weight-medium {
  font-weight: 500;
}
#projects .work-content {
  justify-content: space-between;
  padding: 1.5rem 1.5rem 2.8125rem;
  display: flex;
}
#projects .max-width-35ch {
  max-width: 35ch;
}
#projects .empty-state {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  font-weight: 700;
  display: flex;
}

/* Screens up to 991px */
@media screen and (max-width: 991px) {
  #projects .w-layout-blockcontainer {
    max-width: 728px;
  }
  #projects .w-container {
    max-width: 728px;
  }
  #projects .container {
    width: auto;
    max-width: 110rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #projects .works-link {
    justify-content: flex-start;
    min-height: 50vh;
  }
  #projects .works-image {
    height: 73%;
  }
  #projects .works-image {
    height: 73%;
  }
  #projects .works-hover-follow {
    display: none;
  }
  #projects .work-content {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-flow: column;
    padding-bottom: 1.5rem;
  }
}
/* Screens up to 767px */
@media screen and (max-width: 767px) {
  #projects .w-layout-blockcontainer {
    max-width: none;
  }
  #projects .works-wrapper {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }
  #projects .collection-list {
    grid-row-gap: 2rem;
    flex-flow: column;
    display: flex;
  }
  #projects .works-link {
    min-height: 0;
  }
  #projects .image {
    object-position: 50% 20%;
  }
  #projects .works-hover-follow {
    width: 8rem;
    height: 8rem;
  }
}
/* Screens up to 479px */
@media screen and (max-width: 479px) {
  #projects .works-hover-follow {
    width: 6rem;
    height: 6rem;
  }
  #projects .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #projects .w-container {
    max-width: none;
  }
}
/*-- -------------------------------- -->
<---   Project Details Page Landing   --> 
<--- -------------------------------- -*/
#hero-section-works.hero-section-works {
  padding-top: 12vh;
  padding-bottom: 6rem;
}
#hero-section-works .w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#hero-section-works .w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
#hero-section-works .w-container:before, #hero-section-works .w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
#hero-section-works .w-container:after {
  clear: both;
}
#hero-section-works .w-dyn-bind-empty {
  display: none !important;
}
#hero-section-works .container {
  width: 100%;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
#hero-section-works .hero-header {
  z-index: 3;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
  flex-flow: column;
  align-items: center;
  display: flex;
  position: relative;
}
#hero-section-works .tag-wrapper {
  grid-column-gap: 0.6875rem;
  grid-row-gap: 0.6875rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
#hero-section-works .elipse {
  background-color: var(--color--yellow);
  border-radius: 50%;
  width: 0.4rem;
  height: 0.4rem;
}
#hero-section-works .project-tag {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
#hero-section-works .text-weight-medium {
  font-weight: 500;
}
#hero-section-works .text-weight-regular {
  font-weight: 400;
}
#hero-section-works .caps {
  text-transform: uppercase;
}
#hero-section-works .heading {
  max-width: 80ch;
}
#hero-section-works .heading-1 {
  font-size: var(--heading--h1);
  font-weight: 400;
  line-height: 1;
}

/* Screens up to 991px */
@media screen and (max-width: 991px) {
  #hero-section-works .w-layout-blockcontainer {
    max-width: 728px;
  }
  #hero-section-works .w-container {
    max-width: 728px;
  }
  #hero-section-works .container {
    width: auto;
    max-width: 110rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #hero-section-works .heading {
    max-width: 60ch;
  }
  #hero-section-works .heading-1 {
    font-size: 4rem;
  }
}
/* Screens up to 767px */
@media screen and (max-width: 767px) {
  #hero-section-works.hero-section-works {
    padding-top: 8vh;
    padding-bottom: 4rem;
  }
  #hero-section-works .w-layout-blockcontainer {
    max-width: none;
  }
  #hero-section-works .heading-1 {
    font-size: 3rem;
  }
}
/* Screens up to 479px */
@media screen and (max-width: 479px) {
  #hero-section-works .w-container {
    max-width: none;
  }
  #hero-section-works .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #hero-section-works .tag-wrapper {
    justify-content: center;
    align-items: center;
  }
  #hero-section-works .tag-wrapper.flex-wrap {
    flex-wrap: wrap;
  }
  #hero-section-works .elipse.hide-mobile {
    display: none;
  }
  #hero-section-works .project-tag {
    display: flex;
    align-items: center;
    gap: 0.375rem;
  }
  #hero-section-works .heading-1 {
    font-size: 2.9rem;
  }
}
/*-- -------------------------------- -->
<---        Project Hero Image        --> 
<--- -------------------------------- -*/
@keyframes collapse-height {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
@keyframes zoom-out {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
#project-hero-image .w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#project-hero-image .w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
#project-hero-image .w-container:before, #project-hero-image .w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
#project-hero-image .w-container:after {
  clear: both;
}
#project-hero-image .w-dyn-bind-empty {
  display: none !important;
}
#project-hero-image .container {
  width: 100%;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
#project-hero-image .container.container-large {
  width: 90vw;
  max-width: none;
}
#project-hero-image .blog-image-wrapper {
  border-radius: 1.5rem;
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
}
#project-hero-image img.image {
  width: 100%;
  height: 100%;
}
#project-hero-image img.image.animate {
  animation: zoom-out 0.8s ease-out forwards;
}
#project-hero-image .mask-frame {
  z-index: 2;
  background-color: var(--color--yellow);
  opacity: 1;
  position: absolute;
  inset: auto 0% 0%;
  height: 100%;
}
#project-hero-image .mask-frame.animate {
  animation: collapse-height 0.8s cubic-bezier(0.25, 0.1, 0.1, 1) forwards;
}

/* Screens up to 991px */
@media screen and (max-width: 991px) {
  #project-hero-image .w-layout-blockcontainer {
    max-width: 728px;
  }
  #project-hero-image .w-container {
    max-width: 728px;
  }
  #project-hero-image .container {
    width: auto;
    max-width: 110rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #project-hero-image .container.container-large {
    width: auto;
  }
  #project-hero-image .blog-image-wrapper {
    justify-content: flex-start;
  }
  #project-hero-image .mask-frame {
    z-index: 4;
  }
}
/* Screens up to 767px */
@media screen and (max-width: 767px) {
  #project-hero-image .w-layout-blockcontainer {
    max-width: none;
  }
  #project-hero-image .image {
    object-position: 50% 20%;
  }
}
/* Screens up to 479px */
@media screen and (max-width: 479px) {
  #project-hero-image .w-container {
    max-width: none;
  }
  #project-hero-image .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #project-hero-image .blog-image-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
  #project-hero-image .mask-frame {
    z-index: 4;
  }
}
/*-- -------------------------------- -->
<---         Project Content          --> 
<--- -------------------------------- -*/
#content-section .w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#content-section .w-dyn-bind-empty {
  display: none !important;
}
#content-section .container {
  width: 100%;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
#content-section .container.container-small {
  max-width: 80rem;
}
#content-section .image {
  width: 100%;
  height: 100%;
}
#content-section .mask-frame {
  z-index: 2;
  background-color: var(--color--yellow);
  opacity: 1;
  position: absolute;
  inset: auto 0% 0%;
}
#content-section.content-section {
  padding-bottom: 2.5rem;
}
#content-section .work-content-cms {
  justify-content: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
}
#content-section .rich-text p {
  font-size: var(--text-size--regular);
  margin-bottom: 0;
}
#content-section .rich-text h1,
#content-section .rich-text h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
}
#content-section .rich-text h3 {
  font-size: var(--heading--h3);
  margin-bottom: 1rem;
  font-weight: 500;
}
#content-section .rich-text h4,
#content-section .rich-text h5 {
  margin-bottom: 1rem;
  font-weight: 500;
}
#content-section .rich-text h6 {
  margin-bottom: 1rem;
  font-weight: 500;
}
#content-section .rich-text li {
  font-size: var(--text-size--regular);
}
#content-section .rich-text blockquote {
  margin-bottom: 1rem;
}
#content-section .rich-text.rich-text-size {
  text-align: center;
  max-width: 60ch;
}
#content-section .work-template-images {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}
#content-section .work-template-images.margin-bottom {
  margin-bottom: 8rem;
}
#content-section .work-template-images.vertical {
  width: 50%;
  height: 90vh;
  margin-bottom: 6rem;
  margin-left: 6vw;
  margin-right: auto;
}
#content-section .work-template-images.vertical.right {
  margin-left: auto;
  margin-right: 6vw;
}
#content-section .work-template-images.no-margin {
  margin-bottom: 0;
}
#content-section .rounded-top {
  border-radius: 1.5rem 1.5rem 0 0;
}
#content-section .rounded-bottom {
  border-radius: 0 0 1.5rem 1.5rem;
}

/* Screens up to 991px */
@media screen and (max-width: 991px) {
  #content-section .w-layout-blockcontainer {
    max-width: 728px;
  }
  #content-section .w-container {
    max-width: 728px;
  }
  #content-section .container {
    width: auto;
    max-width: 110rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #content-section .mask-frame {
    z-index: 4;
  }
  #content-section .work-template-images.vertical {
    margin-bottom: 6rem;
  }
}
/* Screens up to 767px */
@media screen and (max-width: 767px) {
  #content-section .w-layout-blockcontainer {
    max-width: none;
  }
  #content-section .image {
    object-position: 50% 20%;
  }
  #content-section .work-template-images.margin-bottom {
    margin-bottom: 6rem;
  }
  #content-section .work-template-images.vertical {
    width: 100%;
    margin-bottom: 4rem;
    margin-left: auto;
  }
  #content-section .work-template-images.vertical.right {
    width: 100%;
  }
}
/* Screens up to 479px */
@media screen and (max-width: 479px) {
  #content-section .w-container {
    max-width: none;
  }
  #content-section .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #content-section .mask-frame {
    z-index: 4;
  }
  #content-section .rich-text {
    width: 100%;
  }
}

/*# sourceMappingURL=portfolio.css.map */
