/* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/
#hero-form {
    @keyframes fade-in-slide-up-80px {
        from {
            opacity: 0;
            transform: translateY(80px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    &.hero-form {
        padding-top: 15vh;
    }

    .w-layout-blockcontainer {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .w-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 940px;

        &:before,
        &:after {
            content: " ";
            display: table;
            grid-column-start: 1;
            grid-row-start: 1;
            grid-column-end: 2;
            grid-row-end: 2;
        }
        &:after {
            clear: both;
        }
    }

    .w-form {
        margin: 0 0 15px;
    }

    .w-form-done {
        display: none;
        padding: 20px;
        text-align: center;
        background-color: #dddddd;

        &.visible {
            display: block;
        }
    }

    .w-form-fail {
        display: none;
        margin-top: 10px;
        padding: 10px;
        background-color: #ffdede;

        &.visible {
            display: block;
        }
    }

    .w-input,
    .w-select {
        display: block;
        width: 100%;
        height: 38px;
        padding: 8px 12px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
    }

    .w-input::placeholder,
    .w-select::placeholder {
        color: #999;
    }

    .w-input:focus,
    .w-select:focus {
        border-color: #3898ec;
        outline: 0;
    }

    .w-input[disabled],
    .w-select[disabled],
    .w-input[readonly],
    .w-select[readonly],
    fieldset[disabled] .w-input,
    fieldset[disabled] .w-select {
        cursor: not-allowed;
    }

    .w-input[disabled]:not(.w-input-disabled),
    .w-select[disabled]:not(.w-input-disabled),
    .w-input[readonly],
    .w-select[readonly],
    fieldset[disabled]:not(.w-input-disabled) .w-input,
    fieldset[disabled]:not(.w-input-disabled) .w-select {
        background-color: #eeeeee;
    }

    textarea.w-input,
    textarea.w-select {
        height: auto;
    }

    .w-select {
        background-color: #f3f3f3;
    }

    .w-select[multiple] {
        height: auto;
    }

    .w-button {
        display: inline-block;
        padding: 9px 15px;
        background-color: #3898ec;
        color: white;
        border: 0;
        line-height: inherit;
        text-decoration: none;
        cursor: pointer;
        border-radius: 0;
    }

    input.w-button {
        -webkit-appearance: button;
    }

    .w-form-done {
        display: none;
        padding: 20px;
        text-align: center;
        background-color: #dddddd;
    }

    .container {
        width: 100%;
        max-width: 110rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .hero-header {
        z-index: 3;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        text-align: center;
        flex-flow: column;
        align-items: center;
        display: flex;
        position: relative;
    }

    .tag-wrapper {
        grid-column-gap: 0.6875rem;
        grid-row-gap: 0.6875rem;
        justify-content: center;
        align-items: center;
        display: flex;
        opacity: 0; // Hide initially to animate in

        &.animate {
            animation: fade-in-slide-up-80px 1s cubic-bezier(0.25, 1, 0.5, 1);
            animation-fill-mode: forwards;
        }
    }

    .elipse {
        background-color: var(--color--red);
        border-radius: 50%;
        width: 0.4rem;
        height: 0.4rem;
    }

    .tag {
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;
        display: flex;
    }

    .text-weight-medium {
        font-weight: 500;
    }

    .caps {
        text-transform: uppercase;
    }

    .heading {
        max-width: 80ch;
        opacity: 0; // Hide initially to animate in

        &.animate {
            animation: fade-in-slide-up-80px 1s cubic-bezier(0.25, 1, 0.5, 1);
            animation-fill-mode: forwards;
            animation-delay: 0.3s;
        }

        &.smaller {
            max-width: 60ch;
        }
    }

    .heading-1 {
        font-size: var(--heading--h1);
        font-weight: 400;
        line-height: 1;
    }

    .form-component {
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
        display: flex;
    }

    .form-wrapper {
        margin-top: 1rem;

        &.full-width {
            width: 35%;
        }
    }

    .form {
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
    }

    .form-content {
        width: 100%;
    }

    .name-wrapper-contact {
        width: 100%;
    }

    .text-size-medium-vw {
        font-size: 1vw;
        font-weight: 400;
    }

    .text-field-contact {
        color: var(--color--font);
        background-color: #0000;
        border: 1px solid #0000;
        border-bottom-color: #1515151a;
        border-radius: 0;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        padding-left: 1rem;
        font-size: 1rem;
        // transition: all 0.4s;

        &:hover {
            color: var(--color--font);
            border-width: 1px;
            border-color: #1515151a;
            padding-left: 1.2rem;
        }

        &:active {
            color: #212121;
        }

        &:focus {
            color: var(--color--font);
            border-color: #212121;
        }
    }

    .name-wrapper-contact {
        width: 100%;
    }

    .contact-button {
        background-color: #1d1d1f;
        border-radius: 0.3rem;
        transition: all 0.25s;

        &.align-center {
            background-color: #0000;
            justify-content: center;
            align-items: center;
            width: 100%;
            display: flex;
        }
    }

    .button-primary {
        grid-row-gap: 0.25rem;
        background-color: var(--color--button);
        color: var(--color--background);
        font-size: var(--text-size--medium);
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 0.2rem;
        flex-direction: column;
        padding: 0.8rem 2.5rem;
        text-decoration: none;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        display: flex;
        position: relative;
        overflow: hidden;

        &:hover {
            background-color: var(--color--yellow);
        }
    }

    .submit-button {
        z-index: 3;
        color: #0000;
        background-color: #0000;
        position: absolute;
        inset: 0%;
    }

    .success-message {
        color: #000;
        text-align: center;
        background-color: #f4f4f4;
        border-radius: 0.6rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .text-size-contact {
        font-size: 1.375rem;
    }

    .error-message {
        color: #fbfbfb;
        text-align: center;
        background-color: #ec3c3c;
        border-radius: 0.7rem;
        margin-top: 2rem;
        padding: 1.5rem 1.1rem;
    }

    .text-size-medium-contact {
        font-size: 1.125rem;
    }

    input::placeholder,
    textarea::placeholder {
        font-family: var(--font--made--okine--sans);
    }
}

/* Screens up to 991px */
@media screen and (max-width: 991px) {
    #hero-form {
        &.hero-form {
            padding-bottom: 0;
        }

        .w-layout-blockcontainer {
            max-width: 728px;
        }

        .w-container {
            max-width: 728px;
        }

        .container {
            width: auto;
            max-width: 110rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .heading {
            max-width: 60ch;
        }

        .heading-1 {
            font-size: 4rem;
        }

        .form-component {
            margin-top: 6rem;
        }

        .form-wrapper,
        .form-wrapper.full-width {
            width: 100%;
        }

        .form {
            justify-content: flex-start;
            align-items: center;
        }

        .text-size-medium-vw {
            font-size: 1.125rem;
        }
    }
}

/* Screens up to 767px */
@media screen and (max-width: 767px) {
    #hero-form {
        .w-layout-blockcontainer {
            max-width: none;
        }

        .heading-1 {
            font-size: 3rem;
        }

        .form-component {
            margin-top: 4rem;
        }
    }
}

/* Screens up to 479px */
@media screen and (max-width: 479px) {
    #hero-form {
        .w-container {
            max-width: none;
        }
        .container {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .tag-wrapper {
            justify-content: center;
            align-items: center;
        }

        .elipse.hide-mobile {
            display: none;
        }

        .heading-1 {
            font-size: 2.9rem;
        }

        .form,
        .form-wrapper {
            width: 100%;
        }

        .button-primary {
            align-items: center;
            width: 100%;
        }
    }
}
