/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---      Brand Statements      -->
<--- -------------------------- -*/
// This CSS is based on the Sandbox Webflow design, which seems to have designed desktop-first instead of mobile-first.
#brand-statements {
    .section {
        margin-top: 12rem;
    }

    .w-layout-blockcontainer {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .container {
        width: 100%;
        max-width: 110rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .w-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 940px;

        &:before,
        &:after {
            content: " ";
            display: table;
            grid-column-start: 1;
            grid-row-start: 1;
            grid-column-end: 2;
            grid-row-end: 2;
        }
        &:after {
            clear: both;
        }
        & .w-row {
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    .text-images-wrapper {
        grid-column-gap: 8rem;
        grid-row-gap: 8rem;
        text-align: center;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 0;
        display: flex;
    }

    .text-images {
        max-width: 112ch;
        opacity: 0; // Hide initially to animate in

        &.animate {
            animation: fade-in-slide-up-80px 1s cubic-bezier(0.25, 1, 0.5, 1);
            animation-fill-mode: forwards;
        }

        @keyframes fade-in-slide-up-80px {
            from {
                opacity: 0;
                transform: translateY(80px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .heading-2 {
        font-size: var(--heading--h2);
        font-weight: 500;
        line-height: 1;
    }

    .text-weight-regular {
        font-weight: 400;
    }

    .text-weight-light {
        font-weight: 300;
    }

    .span {
        text-align: left;
        white-space: nowrap;
        vertical-align: bottom;
        object-fit: cover;
        background-image: url("../images/Placeholder.svg");
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: 3.75rem 3.75rem;
        border: 2px solid #0000;
        border-radius: 4.75rem;
        width: 6.5rem;
        height: 4rem;
        font-size: 0.875rem;
        line-height: 7.5;
        text-decoration: none;
        display: inline-block;
        position: relative;

        width: 0;
        transition: width 1s ease-in-out;

        &.animate {
            width: 6rem;
        }
    }

    .span.one {
        pointer-events: none;
        white-space: nowrap;
        cursor: default;
        background-image: url("../images/Text-Images-01.jpg");
        background-position: 50%;
        background-size: cover;
        border-radius: 5rem;
    }

    .span.two {
        pointer-events: none;
        cursor: default;
        background-image: url("../images/Text-Images-02.jpg");
        background-size: cover;
        border-radius: 5rem;
    }

    .span.three {
        pointer-events: none;
        cursor: default;
        background-image: url("../images/Text-Images-03.jpg");
        background-size: cover;
        border-radius: 5rem;
    }

    .big-numbers-wrapper {
        grid-column-gap: 10.5rem;
        grid-row-gap: 10.5rem;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        place-items: center;
        display: flex;

        div.animate {
            // animation: fade-in-slide-up-40px 1s cubic-bezier(0.25, 1, 0.5, 1);
            // animation-fill-mode: forwards;
            animation: fade-in-slide-up-40px 1s ease-out forwards;
        }

        :nth-child(1).animate {
            animation-delay: 0s;
        }
        :nth-child(2).animate {
            animation-delay: 0.3s;
        }
        :nth-child(3).animate {
            animation-delay: 0.6s;
        }
    }

    .big-numbers-card {
        grid-column-gap: 0.3125rem;
        grid-row-gap: 0.3125rem;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        display: flex;
        opacity: 0; // Hide initially to animate in

        // &.animate {
        //     animation: fade-in-slide-up-30px 1s ease-out forwards;
        // }

        @keyframes fade-in-slide-up-40px {
            from {
                opacity: 0;
                transform: translateY(40px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .big-numbers {
        font-size: 5.3vw;
        font-weight: 400;
        line-height: 1;
    }

    .text-size-medium {
        font-size: var(--text-size--medium);
        line-height: 1.1;
    }

    .grid {
        grid-column-gap: 2rem;
        grid-row-gap: 5.875rem;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-columns: 1fr;
        place-items: center;
        display: grid;
    }

    .card {
        grid-column-gap: 4rem;
        grid-row-gap: 4rem;
        background-color: var(--color--card);
        text-align: left;
        flex-flow: column;
        justify-content: space-between;
        align-items: stretch;
        height: 100%;
        padding: 4rem 3.5rem 4.3rem;
        display: flex;
        opacity: 0; // Hide initially to animate in

        .number {
            transition: opacity 0.5s ease-in-out;
        }

        &:hover {
            .number {
                opacity: 0.8;
            }
        }

        &.animate {
            animation: fade-in-slide-up-60px 0.75s ease-out forwards;
        }
        &:nth-child(1).animate {
            animation-delay: 0s;
        }
        &:nth-child(2).animate {
            animation-delay: 0.3s;
        }
        &:nth-child(3).animate {
            animation-delay: 0.6s;
        }

        @keyframes fade-in-slide-up-60px {
            from {
                opacity: 0;
                transform: translateY(60px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .top-content {
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
        flex-flow: column;
        align-items: flex-start;
        max-width: 29ch;
        display: flex;
    }

    .text-weight-medium {
        font-weight: 500;
    }

    .number {
        opacity: 0.2;
    }

    .big-text {
        font-size: 10.5rem;
        line-height: 1;
    }

    .button-primary {
        grid-row-gap: 0.25rem;
        background-color: var(--color--button);
        color: var(--color--background);
        font-size: var(--text-size--medium);
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 0.2rem;
        flex-direction: column;
        padding: 0.8rem 2.5rem;
        text-decoration: none;
        transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        display: flex;
        position: relative;
        overflow: hidden;

        &:hover {
            background-color: var(--color--primary);
        }
    }

    .w-inline-block {
        max-width: 100%;
        display: inline-block;
    }

    #w-node-a0214055-a5b9-6870-0c35-2638d43cc460-672a1055 {
        grid-area: 2 / 2 / 3 / 3;
    }
}

/* Screens up to 991px */
@media screen and (max-width: 991px) {
    #brand-statements {
        .section {
            margin-top: 8rem;
        }

        .w-layout-blockcontainer {
            max-width: 728px;
        }

        .container {
            width: auto;
            max-width: 110rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .text-images-wrapper {
            grid-column-gap: 6rem;
            grid-row-gap: 6rem;
        }

        .text-images {
            max-width: none;
            padding-left: 0;
            padding-right: 0;
        }

        .heading-2 {
            font-size: 2.5rem;
        }

        .span {
            border-radius: 1rem;
            width: 3rem;
            height: 3rem;
            line-height: 6;
        }

        .span.three,
        .span.one,
        .span.two {
            width: 0;
            transition: width 1s ease-in-out;

            &.animate {
                width: 4rem;
            }
        }

        .big-numbers-wrapper {
            grid-column-gap: 2rem;
            grid-row-gap: 4rem;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-columns: 1fr;
            justify-content: space-around;
            place-items: center;
            width: 100%;
            display: flex;
        }

        .big-numbers-card {
            text-align: center;
            justify-content: flex-start;
            align-items: center;
        }

        .big-numbers {
            font-size: 7rem;
        }

        .text-size-medium {
            font-size: 1.125rem;
        }

        .grid {
            grid-row-gap: 2rem;
            flex-flow: column;
            width: 100%;
            display: flex;
        }

        .card {
            flex-flow: row;
            padding-left: 2rem;
            padding-right: 2rem;

            &.animate {
                animation-delay: 0s;
            }
        }

        .top-content {
            max-width: none;
        }

        #w-node-_1af93a0f-02ae-0fb1-39b8-a79c00b212e1-672a1055 {
            grid-area: 2 / 1 / 3 / 2;
        }

        #w-node-_1af93a0f-02ae-0fb1-39b8-a79c00b212e6-672a1055 {
            grid-area: 2 / 2 / 3 / 3;
        }

        #w-node-_1af93a0f-02ae-0fb1-39b8-a79c00b212eb-672a1055 {
            grid-area: 3 / 1 / 3 / 2;
        }
    }
}

/* Screens up to 767px */
@media screen and (max-width: 767px) {
    #brand-statements {
        .section {
            margin-top: 4rem;
        }

        .w-layout-blockcontainer {
            max-width: none;
        }

        .text-images-wrapper {
            grid-column-gap: 4rem;
            grid-row-gap: 4rem;
        }

        .heading-2 {
            font-size: 2.375rem;
        }

        .span {
            background-size: 2.5rem 2.5rem;
            width: 2.5rem;
            height: 2.5rem;
        }

        .big-numbers-wrapper {
            grid-column-gap: 3rem;
            grid-row-gap: 3rem;
            flex-flow: column;
            display: flex;
        }

        .big-numbers-card {
            text-align: center;
            max-width: none;
        }

        .big-numbers {
            font-size: 6rem;
        }

        .card {
            grid-column-gap: 3rem;
            grid-row-gap: 3rem;
            flex-flow: column;

            &.animate {
                animation-delay: 0s;
            }
        }

        .big-text {
            font-size: 9rem;
        }
    }
}

/* Screens up to 479px */
@media screen and (max-width: 479px) {
    #brand-statements {
        .container {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .heading-2 {
            font-size: 2.25rem;
        }

        .big-numbers {
            font-size: 5rem;
        }

        .big-text {
            font-size: 8rem;
        }

        .button-primary {
            align-items: center;
            width: 100%;
        }
    }
}

/*-- -------------------------- -->
<---     Featured Projects      -->
<--- -------------------------- -*/
// This CSS is based on the Sandbox Webflow design, which seems to have designed desktop-first instead of mobile-first.
#featured-projects {
    &.section-logos {
        margin-top: 12rem;
    }

    .w-layout-blockcontainer {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .w-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 940px;

        &:before,
        &:after {
            content: " ";
            display: table;
            grid-column-start: 1;
            grid-row-start: 1;
            grid-column-end: 2;
            grid-row-end: 2;
        }
        &:after {
            clear: both;
        }
        & .w-row {
            margin-left: -10px;
            margin-right: -10px;
        }
    }

    .container {
        width: 100%;
        max-width: 110rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .big-gap {
        grid-column-gap: 12rem;
        grid-row-gap: 12rem;
        flex-flow: column;
        display: flex;
    }

    .works-wrapper {
        grid-column-gap: 5rem;
        grid-row-gap: 5rem;
        flex-flow: column;
        align-items: center;
        display: flex;

        .header {
            opacity: 0; // Hide initially to animate in

            &.animate {
                animation: fade-in-slide-up-60px 0.8s ease-out forwards;
            }
        }

        @keyframes fade-in-slide-up-60px {
            from {
                opacity: 0;
                transform: translateY(60px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .header {
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
        text-align: center;
        flex-flow: column;
        align-items: center;
        max-width: 55ch;
        display: flex;
    }

    .heading-2 {
        font-size: var(--heading--h2);
        font-weight: 500;
        line-height: 1;
    }

    .max-width-45ch {
        max-width: 45ch;
    }

    .collection-list-wrapper {
        width: 100%;
        opacity: 0; // Hide initially to animate in

        &.animate {
            animation: fade-in-slide-up-60px 0.8s ease-out forwards;
        }

        @keyframes fade-in-slide-up-60px {
            from {
                opacity: 0;
                transform: translateY(60px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .collection-list {
        grid-column-gap: 2rem;
        grid-row-gap: 2.5rem;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
        display: grid;
    }

    .works-card {
        background-color: var(--color--card);
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .works-link {
        flex-flow: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        min-height: 55vh;
        display: flex;
    }

    .w-inline-block {
        max-width: 100%;
        display: inline-block;
    }

    .works-image {
        justify-content: center;
        align-items: center;
        height: 100%;
        display: flex;
        position: relative;
        overflow: hidden;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .w-dyn-bind-empty {
        display: none !important;
    }

    .works-hover-follow {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        white-space: nowrap;
        background-color: #fff6;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 10rem;
        display: flex;
        position: absolute;
        overflow: hidden;
    }

    .text-weight-medium {
        font-weight: 500;
    }

    .work-content {
        justify-content: space-between;
        padding: 1.5rem 1.5rem 2.8125rem;
        display: flex;
    }

    .max-width-35ch {
        max-width: 35ch;
    }

    .logos-component {
        grid-column-gap: 4rem;
        grid-row-gap: 4rem;
        flex-flow: column;
        align-items: center;
        display: flex;

        .slide-interaction {
            opacity: 0; // Hide initially to animate in

            &.animate {
                animation: fade-in-slide-up-60px 0.8s ease-out forwards;
            }

            @keyframes fade-in-slide-up-60px {
                from {
                    opacity: 0;
                    transform: translateY(60px);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }

    .text-size-medium {
        font-size: var(--text-size--medium);
        line-height: 1.1;
    }

    .caps {
        text-transform: uppercase;
    }

    .logos-grid {
        grid-column-gap: 5rem;
        grid-row-gap: 6rem;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto auto auto auto;
        grid-auto-columns: 1fr;
        place-items: center stretch;
        display: grid;

        div {
            opacity: 0; // Hide initially to animate in

            &.animate {
                animation: fade-in-slide-up-80px 1.5s
                    cubic-bezier(0.25, 1, 0.5, 1);
                animation-fill-mode: forwards;
            }

            @keyframes fade-in-slide-up-80px {
                from {
                    opacity: 0;
                    transform: translateY(80px);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        :nth-child(1).animate,
        :nth-child(6).animate {
            animation-delay: 0s;
        }
        :nth-child(2).animate,
        :nth-child(7).animate {
            animation-delay: 0.1s;
        }
        :nth-child(3).animate,
        :nth-child(8).animate {
            animation-delay: 0.3s;
        }
        :nth-child(4).animate,
        :nth-child(9).animate {
            animation-delay: 0.5s;
        }
        :nth-child(5).animate,
        :nth-child(10).animate {
            animation-delay: 0.7s;
        }
    }

    #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec20-672a1055 {
        place-self: center;
    }

    .logos {
        justify-content: center;
        align-items: center;
        height: 2.6rem;
        display: flex;
    }

    #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec22-672a1055 {
        grid-area: span 1 / span 1 / span 1 / span 1;
        place-self: center;
    }

    #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec24-672a1055,
    #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec26-672a1055,
    #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec28-672a1055,
    #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec2a-672a1055,
    #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec2c-672a1055,
    #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec2e-672a1055,
    #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec30-672a1055,
    #w-node-_8c09f274-22f7-e716-7c2e-3f9c1e0aec32-672a1055 {
        place-self: center;
    }

    .testimonial-wrapper {
        grid-column-gap: 4.9rem;
        grid-row-gap: 4.9rem;
        flex-flow: column;
        align-items: center;
        display: flex;

        .header {
            h2 {
                opacity: 0; // Hide initially to animate in

                &.animate {
                    animation: fade-in-slide-up-60px 1s
                        cubic-bezier(0.25, 1, 0.5, 1);
                    animation-fill-mode: forwards;
                }
            }

            div {
                opacity: 0; // Hide initially to animate in

                &.animate {
                    animation: fade-in-slide-up-60px 1s
                        cubic-bezier(0.25, 1, 0.5, 1);
                    animation-fill-mode: forwards;
                    animation-delay: 0.3s;
                }
            }
        }

        @keyframes fade-in-slide-up-60px {
            from {
                opacity: 0;
                transform: translateY(60px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .w-slider {
        position: relative;
        height: 300px;
        text-align: center;
        background: #dddddd;
        clear: both;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .testimonial-slider {
        background-color: #0000;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        max-width: 80rem;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    .card-testimonial {
        background-color: var(--color--card);
        border-radius: 1rem;
        width: 55rem;
        max-width: 55rem;
        box-shadow:
            0 4px 8px #0000000d,
            0 15px 15px #0000000a,
            0 33px 20px #00000008,
            0 59px 24px #00000003,
            0 92px 26px #0000;

        .testimonial-slider-content {
            .testimonial-image,
            .testimonial-text {
                opacity: 0;
            }
        }

        .slider.fade-in {
            .testimonial-slider-content .testimonial-image {
                animation: fade-in-slide-up-100 0.7s
                    cubic-bezier(0.25, 1, 0.5, 1);
                animation-fill-mode: forwards;

                @keyframes fade-in-slide-up-100 {
                    from {
                        opacity: 0;
                        transform: translateY(100%);
                    }
                    to {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }

            .testimonial-slider-content .testimonial-text {
                animation: fade-in-slide-up-100 0.7s
                    cubic-bezier(0.25, 1, 0.5, 1);
                animation-fill-mode: forwards;
                animation-delay: 0.3s;
            }
        }

        .slider.fade-out {
            .testimonial-slider-content .testimonial-image {
                animation: fade-out-slide-up-100 0.7s
                    cubic-bezier(0.25, 1, 0.5, 1);
                animation-fill-mode: forwards;

                @keyframes fade-out-slide-up-100 {
                    from {
                        opacity: 1;
                        transform: translateY(0);
                    }
                    to {
                        opacity: 0;
                        transform: translateY(-100%);
                    }
                }
            }

            .testimonial-slider-content .testimonial-text {
                animation: fade-out-slide-up-100 0.7s
                    cubic-bezier(0.25, 1, 0.5, 1);
                animation-fill-mode: forwards;
                animation-delay: 0.3s;
            }
        }
    }

    .w-slider-mask {
        position: relative;
        display: block;
        overflow: hidden;
        z-index: 1;
        left: 0;
        right: 0;
        height: 100%;
        white-space: nowrap;
    }

    .w-slider-arrow-left,
    .w-slider-arrow-right {
        position: absolute;
        width: 80px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        cursor: pointer;
        overflow: hidden;
        color: white;
        font-size: 40px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        tap-highlight-color: rgba(0, 0, 0, 0);
        user-select: none;
    }
    .w-slider-arrow-left [class^="w-icon-"],
    .w-slider-arrow-right [class^="w-icon-"],
    .w-slider-arrow-left [class*=" w-icon-"],
    .w-slider-arrow-right [class*=" w-icon-"] {
        position: absolute;
    }
    .w-slider-arrow-left:focus,
    .w-slider-arrow-right:focus {
        outline: 0;
    }
    .w-slider-arrow-left {
        z-index: 3;
        right: auto;
    }
    .w-slider-arrow-right {
        z-index: 4;
        left: auto;
    }

    .slider-arrow-left {
        border: 1px solid #ddd;
        border-radius: 100%;
        order: -1;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        padding: 1rem 0.5rem;
        transition: all 0.2s;
        display: flex;

        &:hover {
            background-color: var(--color--primary);
        }
    }

    .slider-arrow-right {
        border: 1px solid #ddd;
        border-radius: 100%;
        order: 1;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        padding: 1rem 0.5rem;
        transition: all 0.2s;
        display: flex;

        &:hover {
            background-color: var(--color--primary);
        }
    }

    .display-none {
        display: none;
    }

    .testimonial-slider-content {
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        padding: 1.5rem 2.8rem 1.5rem 1.5rem;
        display: flex;
    }

    .clip {
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .testimonial-image {
        border-radius: 0.5rem;
        height: 20rem;
        max-height: 20rem;
        overflow: hidden;
    }

    .testimonial-text {
        grid-column-gap: 4.5rem;
        grid-row-gap: 4.5rem;
        flex-flow: column;
        justify-content: space-between;
        margin-top: 1.4rem;
        margin-bottom: 1.5rem;
        display: flex;
    }

    .quote {
        max-width: 50ch;
        margin-right: 0.4rem;
    }

    .text-size-large {
        font-size: var(--text-size--large);
    }

    .testimonial-info {
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    .name {
        grid-column-gap: 0.3rem;
        grid-row-gap: 0.3rem;
        flex-flow: column;
        display: flex;
    }

    .text-size-large.height-1-15 {
        line-height: 1.15;
    }

    .opacity-50 {
        opacity: 0.5;
    }

    .text-size-regular {
        font-size: var(--text-size--regular);
        line-height: 1.5;
    }

    .text-size-regular.height-1-15 {
        line-height: 1.15;
    }

    .slider-star {
        grid-column-gap: 0.1rem;
        grid-row-gap: 0.1rem;
        justify-content: flex-end;
        display: flex;
    }

    .w-slide {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        height: 100%;
        white-space: normal;
        text-align: left;
    }

    img {
        max-width: 100%;
        vertical-align: middle;
        display: inline-block;
    }
}

/* Screens up to 991px */
@media screen and (max-width: 991px) {
    #featured-projects {
        &.section-logos {
            margin-top: 8rem;
        }

        .w-layout-blockcontainer {
            max-width: 728px;
        }

        .container {
            width: auto;
            max-width: 110rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .w-container {
            max-width: 728px;
        }

        .big-gap {
            grid-column-gap: 8rem;
            grid-row-gap: 8rem;
        }

        .header {
            grid-column-gap: 1rem;
            grid-row-gap: 1rem;
        }

        .heading-2 {
            font-size: 2.5rem;
        }

        .works-link {
            justify-content: flex-start;
            min-height: 50vh;
        }

        .works-image {
            height: 73%;
        }

        .works-hover-follow {
            display: none;
        }

        .work-content {
            grid-column-gap: 1.5rem;
            grid-row-gap: 1.5rem;
            flex-flow: column;
            padding-bottom: 1.5rem;
        }

        .text-size-medium {
            font-size: 1.125rem;
        }

        .logos-grid {
            grid-column-gap: 3rem;
            grid-row-gap: 4rem;
            flex-flow: wrap;
        }

        .testimonial-slider {
            max-width: none;
        }

        .card-testimonial {
            width: auto;
            max-width: none;
            height: auto;
        }

        .slider-arrow-right,
        .slider-arrow-left {
            display: none;
        }

        .clip {
            height: 100%;
        }

        .testimonial-image {
            height: 100%;
            max-height: none;
        }

        .testimonial-text {
            grid-column-gap: 3rem;
            grid-row-gap: 3rem;
        }
    }
}

/* Screens up to 767px */
@media screen and (max-width: 767px) {
    #featured-projects {
        &.section-logos {
            margin-top: 6rem;
        }

        .w-layout-blockcontainer {
            max-width: none;
        }

        .w-container .w-row {
            margin-left: 0;
            margin-right: 0;
        }

        .big-gap,
        .testimonial-wrapper {
            grid-column-gap: 4rem;
            grid-row-gap: 4rem;
        }

        .works-wrapper {
            grid-column-gap: 4rem;
            grid-row-gap: 4rem;
        }

        .heading-2 {
            font-size: 2.375rem;
        }

        .collection-list {
            grid-row-gap: 2rem;
            flex-flow: column;
            display: flex;
        }

        .works-link {
            min-height: 0;
        }

        .image {
            object-position: 50% 20%;
        }

        .works-hover-follow {
            width: 8rem;
            height: 8rem;
        }

        .logos-grid {
            grid-row-gap: 3rem;
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .card-testimonial {
            width: 100%;
        }

        .testimonial-slider-content {
            grid-column-gap: 1rem;
            grid-row-gap: 1rem;
            flex-flow: column;
            padding: 1rem;
        }

        .testimonial-image {
            object-position: 50% 0%;
            height: 20rem;
            max-height: none;
        }

        .testimonial-text {
            grid-column-gap: 2.5rem;
            grid-row-gap: 2.5rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .clip {
            width: 100%;
        }
    }
}

/* Screens up to 479px */
@media screen and (max-width: 479px) {
    #featured-projects {
        .container {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .w-container {
            max-width: none;
        }

        .big-gap {
            grid-column-gap: 6rem;
            grid-row-gap: 6rem;
        }

        .heading-2 {
            font-size: 2.25rem;
        }

        .works-hover-follow {
            width: 6rem;
            height: 6rem;
        }

        .logos-grid {
            grid-column-gap: 2rem;
            grid-row-gap: 2rem;
            flex-flow: column;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;
            grid-auto-columns: 1fr;
            display: grid;
        }

        .logos {
            height: auto;
        }

        .card-testimonial {
            width: 100%;
        }

        .testimonial-wrapper {
            grid-column-gap: 2rem;
            grid-row-gap: 2rem;
        }

        .testimonial-slider-content {
            padding: 1rem 1rem 1.3rem;
        }
    }
}
