/* PAGE-SPECIFIC STYLES FOR THE PORTFOLIO PAGE */

/*-- -------------------------- -->
<---     Portfolio Projects     --> 
<--- -------------------------- -*/
#projects {
    @keyframes fade-in-slide-up-80px {
        from {
            opacity: 0;
            transform: translateY(80px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .w-layout-blockcontainer {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .w-inline-block {
        max-width: 100%;
        display: inline-block;
    }

    .w-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 940px;

        &:before,
        &:after {
            content: " ";
            display: table;
            grid-column-start: 1;
            grid-row-start: 1;
            grid-column-end: 2;
            grid-row-end: 2;
        }
        &:after {
            clear: both;
        }
    }

    .w-dyn-bind-empty {
        display: none !important;
    }

    .container {
        width: 100%;
        max-width: 110rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .works-wrapper {
        grid-column-gap: 5rem;
        grid-row-gap: 5rem;
        flex-flow: column;
        align-items: center;
        display: flex;
    }

    .collection-list-wrapper {
        width: 100%;
    }

    .collection-list {
        grid-column-gap: 2rem;
        grid-row-gap: 2.5rem;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
        display: grid;
    }

    .works-card {
        background-color: var(--color--card);
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .works-link {
        flex-flow: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        min-height: 55vh;
        display: flex;
    }

    .works-image {
        justify-content: center;
        align-items: center;
        height: 100%;
        display: flex;
        position: relative;
        overflow: hidden;
    }

    .works-image {
        justify-content: center;
        align-items: center;
        height: 100%;
        display: flex;
        position: relative;
        overflow: hidden;
    }

    .image {
        width: 100%;
        height: 100%;
    }

    .works-hover-follow {
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        white-space: nowrap;
        background-color: #fff6;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 10rem;
        display: flex;
        position: absolute;
        overflow: hidden;
    }

    .text-weight-medium {
        font-weight: 500;
    }

    .work-content {
        justify-content: space-between;
        padding: 1.5rem 1.5rem 2.8125rem;
        display: flex;
    }

    .max-width-35ch {
        max-width: 35ch;
    }

    .empty-state {
        text-align: center;
        background-color: #0000;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        display: flex;
    }
}

/* Screens up to 991px */
@media screen and (max-width: 991px) {
    #projects {
        .w-layout-blockcontainer {
            max-width: 728px;
        }

        .w-container {
            max-width: 728px;
        }

        .container {
            width: auto;
            max-width: 110rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }

        .works-link {
            justify-content: flex-start;
            min-height: 50vh;
        }

        .works-image {
            height: 73%;
        }

        .works-image {
            height: 73%;
        }

        .works-hover-follow {
            display: none;
        }

        .work-content {
            grid-column-gap: 1.5rem;
            grid-row-gap: 1.5rem;
            flex-flow: column;
            padding-bottom: 1.5rem;
        }
    }
}

/* Screens up to 767px */
@media screen and (max-width: 767px) {
    #projects {
        .w-layout-blockcontainer {
            max-width: none;
        }

        .works-wrapper {
            grid-column-gap: 4rem;
            grid-row-gap: 4rem;
        }

        .collection-list {
            grid-row-gap: 2rem;
            flex-flow: column;
            display: flex;
        }

        .works-link {
            min-height: 0;
        }

        .image {
            object-position: 50% 20%;
        }

        .works-hover-follow {
            width: 8rem;
            height: 8rem;
        }
    }
}

/* Screens up to 479px */
@media screen and (max-width: 479px) {
    #projects {
        .works-hover-follow {
            width: 6rem;
            height: 6rem;
        }

        .container {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .w-container {
            max-width: none;
        }
    }
}
